<div class="center jumbotron">
  
<h1>DELAYED JOB </h1>
  <div class="delayjob jumbotron">
    <p><b><%= @message%></b></p>
    
    <%= form_for(@newJob, :html => {:class => 'form-horizontal'}) do |job|%>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= job.label :title, "Title : " %>
        </div>
        <div class="col-sm-8">
          <%= job.text_field :title, class: "form-control", placeholder: "Please enter a new job name", autofocus: true %>
          <small id="jobNameHelp" class="form-text text-muted">After submit, the job will start process in the background.</small>
        </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-8">
          <%= job.submit "START", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>

    <table class="table">
      <tr>
        <th scope="col">Job</th>
        <th scope="col">Progess</th>
      </tr>

      <% @jobs.each do |job| %>
        <tr>
          <td scope="row"> <%= job.title %> </td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= job.progress%>%"><%= job.progress%>%</div>
            </div>
          </td>
          <td> 
            <%= link_to "Delete", background_job_path(job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning" %>
          </td>
        </tr>
      <% end %>

    </table>

  </div>
</div>